:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 2rem;
  color: white;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  color: white;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

#notesApp{
  height: 100%;
  width: 100%;
}


#navbar{
  height: 5rem;
  width: 100%;
  background: #000;
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navbar ul{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
}

#navbar ul :hover{
  color: #d7d4de;
}

#navbar ul li,a{
  list-style: none;
  color: white;
  text-decoration: none;
}

#search{
  padding: 0.5rem;
  height: 2.8rem;
  width: 40%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

#search i{
  font-size: 1.5rem;
  color: black;
}

input{
  height: 2.5rem;
  width: auto;
  min-width:20rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: -.5r;
}

#search input{
  flex: 1;
  height: 2.6rem;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

#notesContainer{
  height: auto;
  min-height: 500px;
  width: 100%;
  background: #000000;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}


#inputBox{
  height: 100%;
  width: 100%;
}

#inputBox input{
  font-size: 1.10rem;
  padding-left: 1rem;
}

button{
  height: 3rem;
  width: auto;
  padding: 1rem;
  background: #ffffff;
  border-radius: 1rem;
  color: #000;
  font-size: 1rem;
  margin-left: 1rem;
}

#notesCards{
  height:25rem;
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  overflow-y: scroll;
}

#card{
  height:auto;
  width:auto;
  min-width: 10rem;
  background-color: rgb(192, 227, 245);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 1rem;
}

#card h1{
  font-size: 1.25rem;
  font-family: monospace;
  font-weight: 600;
  color: #000;
}

#new{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btns{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#btns i{
  font-size: 1.5rem;
  color: #000;
}


#searchBox{
  height: auto;
  width: 100%;
  color: black;
}

#searchBox p{
  font-size: 1rem;
}